@charset "utf-8";

*{
  box-sizing: border-box;
}
.box1{
  background: yellow;
  width: 500px;
  height: 100px;
  border: 10px solid black;
  padding: 20px;
  margin: 50px auto;
  /* margin: 50px 0 0 auto; 오른쪽정렬 */ 
}
.box2{

  background:pink;
  width: 500px;
  height: 100px;
  border: 10px solid black;
  padding: 20px;
  margin: 50px auto;
  /* margin: 50px 0 0 auto; 오른쪽정렬 */ 
}
.box3{

  background: green;
  width: 500px;
  height: 100px;
  border: 10px solid black;
  padding: 20px;
  margin: 50px auto;
  /* margin: 50px 0 0 auto; 오른쪽정렬 */ 
}
